<div class='container'>
    <div class='row'>
       <div class='text-center col-lg-12'>
         <h1>Unique Landlord Only Page</h1>
        </div>
    </div>
</div>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-6 text-center'>
        <%= link_to "Manage Buildings", profile_manage_buildings_path, :class => 'btn btn-default btn-lg btn-block', :role => 'button' %>
      </div>
       <div class='col-lg-6 text-center'>
        <%= link_to "Manage Tenants", profile_manage_tenants_path, :class => 'btn btn-default btn-lg btn-block', :role => 'button' %>
      </div>
     </div>
   </div>