<div class='container'>
  <div class='row'>
    <div class='text-center col-lg-12'>
      <h1>Sign up</h1>
    </div>
  </div>
</div>


  <div class='container outery'>
    <div class='row middly'>
      <div class='col-lg-6 text-center'>
        <%= link_to "Signup as tenant", 'signup/tenant', :class => 'btn btn-primary btn-lg btn-block', :role => 'button' %>
      </div>
       <div class='col-lg-6 text-center'>
        <%= link_to "Signup as landlord", 'signup/landlord', :class => 'btn btn-warning btn-lg btn-block', :role => 'button' %>
      </div>
     </div>
   </div>
