<div class="apartmentss">
  <div class="container">

    <div class="row">
      <% @apartments.each do |apartment| %> 
        <div class="item col-md-4">
          <div class="apartment-info">
            <% if apartment.address.line2? %>
              <h2><%= apartment.address.line1 + ' ' + apartment.address.line2 %></h2>
            <% else %>
              <h2><%= apartment.address.line1 %></h2> 
            <% end %>
            <p><%= link_to "See Apartment", apartment_path(apartment)  %></p>
          </div>
        </div>
      <% end %> 
    </div>

  </div>
</div>