<div class="apartmentss">
  <div class="container">

    <div class="row">
      <% @apartments.each do |apartment| %> 
        <div class="item col-md-4">
          <div class="apartment-info">
            <h2><%= apartment.address %></h2> 
            <p><%= link_to "See Apartment", apartment_path(apartment)  %></p>
          </div>
        </div>
      <% end %> 
    </div>

  </div>
</div>