<div class="apartments">
  <div class="container">
    <div class="cards row">
      <% @apartments.each do |apartment| %> 
        <div class="card medium col-md-4">
            <% if apartment.address.line2? %>
              <h2><%= apartment.address.line1 + ' ' + apartment.address.line2 %></h2>
            <% else %>
              <h2><%= apartment.address.line1 %></h2> 
            <% end %>
        	<% if apartment.image1? %>
        		<%= image_tag apartment.image1(:small) %>
        	<% end %>	
            <p><%= link_to "See Apartment", apartment_path(apartment)  %></p>
        </div>
      <% end %> 
    </div>
  </div>
</div>