<div class='container'>
    <div class='row'>
       <div class='text-center col-lg-12'>
          <% if @apartment.address.line2? %>
            <h1><%= @apartment.address.line1 + ' ' + @apartment.address.line2 %></h1>
          <% else %>
            <h1><%= @apartment.address.line1 %></h1> 
          <% end %>
            <h1><%= @apartment.address.city + ', ' + @apartment.address.state + ' ' + @apartment.address.zip %></h1>
        </div>
    </div>
</div>


<% if @user %>
  <% if @user.apartments.include? @apartment %>
<div class='container'>
    <div class='row'>
      <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'></div>
      <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center'>
        <%= link_to "Destroy", destroy_apartment_path(@apartment.id), method: :delete, :class => 'btn btn-danger btn-lg btn-block', :role => 'button' %>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'></div>
    </div>
</div>
  <% end %>
<% end %>